@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/TTLakes/TTLakes-Bold.eot");
    src: local("TT Lakes Bold"), local("../fonts/TTLakes/TTLakes-Bold"), url("../fonts/TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/TTLakes/TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("../fonts/TTLakes/TTLakes-Medium"), url("../fonts/TTLakes/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/TTLakes/TTLakes-Regular.eot");
    src: local("TT Lakes Regular"), local("../fonts/TTLakes/TTLakes-Regular"), url("../fonts/TTLakes/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'TT Lakes', sans-serif;
    color: #1b1c21;
    background-color: #f8f8f8;
    padding: 0px;
    margin: 0px;
  }
  .header {
    box-shadow: 0 1px #d9fff5;
    background-color: #fff;
    
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
                
}
.header__burger-logo {
    display: flex;
    align-items: center;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    font-size: 0;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ff3e79;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}
.header__burger {
    background-image: url(../img/burger.svg);
}
.social-buttons__call {
    background-image: url(../img/call.svg);
}
.social-buttons__chat {
    background-image: url(../img/chat.svg);
}
.social-buttons__profile {
    background-image: url(../img/profile.svg);
}
.button-request {
    background-image: url(../img/repair.svg);
}
.button-status {
    background-image: url(../img/checkstatus.svg);
}
.header__logo-img {
    display: block;
    width: 96px;
    height: 50px;
    cursor: pointer;
}

.header__divider {
    display: none;
  
}

.header__buttons {
    display: flex;
    align-items: center;
}

.social-buttons {
    display: none;
}

.action-buttons {
    display: flex;
}

.action-buttons::before {
    content: '';
    display: block;
    width: 2px;
    height: 32px;
    margin: 4px 20px 4px 15px;
    background: #eaeaea;
    border-radius: 1px;
}

.main__buttons {
    display: none;
}
.title__text {
    position: relative;
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 16px;
}
.title__text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.main__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 32px;
    font-weight: 500;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.main__button-text {
    margin-right: 8px;
}

.slide-menu__list {
   
    margin-top: 0;
    display: flex;
    overflow-x: auto;
    padding-left: 16px;
    margin-bottom: 24px;
}
.slide-menu__list::-webkit-scrollbar { 
    display: none;
}
.slide-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 40px;
    letter-spacing: -0.2px;
}
.slide-menu__item--active {
    list-style: none;
    background: #fff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
}
.slide-menu__link {
    white-space: nowrap;
    text-decoration: none;
    font-weight: 500;
    color: #7e7e82;
    font-size: 16px;
    padding: 8px 16px;
}
.main__content {
    display: flex;
    flex-direction: column;
}
.main-about{
    margin: 0;
    padding: 0 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.main__about-text {
    padding: 0 16px;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.main__about-text--md {
    display: none;
}
.main__about-text--lg {
    display: none;
}
.main__about-text--sm {
    margin-top: 0;
    padding: 0 0px;
}
.main__show-more {
    display: flex;
    align-items: center;
    margin: 16px 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: pointer;
}
.main__show-more::before {
    content: url(../img/expand.svg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.main__about-extended{
    margin-top: 14px;
}
.fade{
    position: absolute;
    right: 0;
    height: 100%;
    width: 24px;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
@media (min-width: 768px){
.social-buttons {
    display: flex;
}
.header__divider{
    display: block;
    width: 2px;
    height: 32px;
    margin: 0 20px;
    background: #eaeaea;
    border-radius: 1px;
}
.title__text {
    padding: 0 20px;
}
.slide-menu__list {
    padding-left: 24px;
   
}
.main__content {
   
    flex-direction: row;
    padding: 0 24px;
}
.main__about-text {
    padding-left: 0;
    padding-right: 48px;
    line-height: 20px;
}
.main__about-text--md {
    display: inline;
}
.main__content > * {
    width: 50%;
  }
  .main__about-image {
    border-radius: 6px;
}
}
@media (min-width: 1120px){
    .main__header {
        display: flex;
      
        align-items: center;
        justify-content: space-between;
        padding-top: 42px;
        padding-bottom: 8px;
    }
.header {
    display: none;
}
.main__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title__text {
    margin: 0;
    padding-left: 30px;
}
.slide-menu__list {
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    padding: 0 34px;
}
.main__about-text--lg {
    display: inline;
}
.main__about-image {
    border-radius: 6px;
}
}